.DS_Store
.vagrant/
ubuntu-*.log
secrets.sh
custom*
.retry
dsrepository-cli
feed-this-folder-to-dataspects-repository-datastore.sh
mediawiki-root-w-folder-*.tar.gz
mediawiki_root
mysql_data
docker-images/php-apache/w