require 'dataspects'

@dataspects_api_url = "http://localhost:{{ dataspectsFeederServicePort }}/api"
@dataspects_api_key = "{{ ui_feed_service_api_key }}"

Dir.glob("{{ dataspectsSystem_control_folder_on_host }}/control_scripts/users/*.json") do |filePath|
	response = RestClient.post(
	  @dataspects_api_url+"/setup/users/admin",
	  body = File.read(filePath),
	  headers = {
	    "dataspects-api-key": @dataspects_api_key,
	    content_type: :json,
	    accept: :json
	  }
	)
	puts response
end
