require 'dataspects'

@dataspects_api_url = "http://localhost:{{ dataspectsFeederServicePort }}/api"
@dataspects_api_key = "{{ ui_feed_service_api_key }}"

body = {
	articleUrl: "http://{{ mediawikiDomainNameInHostFile }}/wiki",
  scriptUrl: "http://{{ mediawikiDomainNameInHostFile }}/w",
  namespace: "http://{{ mediawikiDomainNameInHostFile }}/wiki"
}.to_json

response = RestClient.post(
  @dataspects_api_url+"/mediawikis",
  body = body,
  headers = {
    "dataspects-api-key": @dataspects_api_key,
    content_type: :json,
    accept: :json
  }
)

puts response
