#!/bin/sh

# https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html#local

######
# CONFIGURATION
RESTIC_BACKUP_REPOSITORY_ON_HOST=lex@10.0.2.2:/home/lex/restic-backup-repository
HOST_SSH_PORT=22

######
# STEP 1: Mount restic-backup-repository/ on host
printf "dserver backup: Trying to mount (sshfs) restic-backup-repository on host...\n"
sudo sshfs -o nonempty -o allow_other -p $HOST_SSH_PORT $RESTIC_BACKUP_REPOSITORY_ON_HOST /home/dserver/restic-backup-repository
printf "dserver backup: restic-backup-repository mounted (sshfs).\n"

######
# STEP 2: Dump database
printf "dserver backup: Trying to mysqldump mediawiki...\n"
sudo docker exec mediawiki bash -c \
  "mysqldump -h 127.0.0.1 -u mediawiki -pmediawikipass \
  mediawiki > /var/www/html/w/db.sql"
printf "dserver backup: mysqldump mediawiki completed.\n"

######
# STEP 3: Run restic backup
printf "dserver backup: Trying to run restic backup...\n"
restic -r restic-backup-repository --verbose backup mediawiki_root/w/
printf "dserver backup: Completed running restic backup.\n"