require 'dataspects'

mw = Dataspects::MediaWiki.new(
  url: "http://{{ mediawikiDomainNameInHostFile }}/w",
  user: "admin",
  password: "{{ mediawiki_admin_user_password }}",
  log_in: :must_log_in
)

coreont = Dataspects::OntologyRepository.new(
  "../../dataspectsSystemCoreOntology"
)
coreont.use_existing_at_URL

mw.resources_from_CATEGORY("dataspectsSystemCoreOntology")
c = Dataspects::Comparer.new
c.report(mw, coreont)
