{
	"TikaURL": "http://localhost:{{ tikaPortOnHost }}",
	"FilenameRegex": "",
	"AbsoluteFilePath": "{{ dataspectsSystem_control_folder_on_host }}",
	"FeedServiceURL": "http://localhost:{{ dataspectsFeederServicePort }}/api/files",
	"TikaUsername": "{{ tika_username }}",
	"TikaPassword": "{{ tika_password }}",
	"FeedServiceAPIKey": "{{ ui_feed_service_api_key }}",
  "Annotation": "[[IsUsedBy::C190110142823]]"
}
