require 'dataspects'
module Dataspects

  class DataspectsSystemSourceFolderFeeder < Feeder

    def initialize(dataspects_api_url:, dataspects_api_key:)
      super
    end

    def execute(document: document)
      ################################
      # Since this is called from the Go app,
      # this mustn't be carried out repeatedly
      @filesystem = ensure_it_exists(body: {
        "machine": "lexAtiv",
        "path": "/lex/home",
        "namespace": "file://lexAtiv/home/lex",
        "feederClass": "#{`hostname`.strip}:#{Dir.pwd}/#{$0}",
        "timestamp": Time.now.getutc
      }.to_json)
      ################################
      nokogiri = Nokogiri::HTML(document.tika_data[0]['X-TIKA:content'])
      esdoc = {
        # Resource silo level
        OriginatedFromResourceSiloID: "dev",
        OriginatedFromResourceSiloLabel: "dev",
        OriginatedFromResourceSiloType: "dev",
        # Resource level
        OriginatedFromResourceName: document.absolute_file_path,
        OriginatedFromResourceURL: document.absolute_file_path,
        OriginatedFromResourceType: "JSONFile",
        # Entity/subject level
        HasEntityClass: "Entity",
        HasEntityName: document.absolute_file_path,
        HasEntityType: "ConfigFile",
        HasEntityURL: document.absolute_file_path,
        HasEntityTitle: document.absolute_file_path,
        HasEntityBlurbTEXT: "dev",
        HasEntityBlurbHTML: "dev",
        HasEntityContentTEXT: nokogiri.xpath('//body').text,
        HasEntityContentHTML: nokogiri.xpath('//body'),
        HasEntityTypeAndEntityTitle: document.absolute_file_path,
        HasEntityKeywords: [],
        HasEntityAnnotations: [
          {
            subject: document.absolute_file_path,
            subject_class: "Entity",
            subject_type: "ConfigFile",
            predicate: "Configures",
            predicate_class: "PassiveAction",
            predicate_type: "Text",
            object: "C0332652598",
            object_class: "Text",
            object_type: "Text",
            subject_type___object_type: "ConfigFile___Text"
          }
        ]
      }

      @esc.index(
        body: esdoc,
        index: @index
      )
      $logger.info("#{document.absolute_file_path} indexed...")
    end

  end

end
