require 'dataspects'
require 'awesome_print'

module Dataspects

  class CookbookFALnetFeeder < Feeder

    def initialize(dataspects_api_url:, dataspects_api_key:)
      super
    end

    def execute()
      # https://en.wikipedia.org/wiki/URL
      @mediawiki = ensure_it_exists(body: {
        "articleUrl": "https://cookbook.findandlearn.net/wiki/",
        "scriptUrl": "https://cookbook.findandlearn.net/w/",
        "namespace": "https://cookbook.findandlearn.net/wiki/",
        "feederClass": "#{`hostname`.strip}:#{Dir.pwd}/#{$0}",
        "timestamp": Time.now.getutc
      }.to_json)

      mw = Dataspects::MediaWiki.new(
        url: "https://cookbook.findandlearn.net/w",
        user: "roapi",
        password: "27i34w22f",
        log_in: :must_log_in
      )
      # [[ProvidesCustomizationPossibilityFor::ResourceSilo level]]
      mw.originatedFromResourceSiloLabel = "DEMO::FindAndLearn::Cookbook"
      mw.originatedFromResourceSiloID = "cookbookfindandlearnnet"
      # Specify a facet of MediaWiki's resources and iterate through resources
      mw.resources_from_CATEGORY("Entity") do |re|
      # mw.resources_from_ASK_QUERIES(["[[C1588549209]]", "[[C0319950530]]"]) do |re|
        # Iterate through a resource's entities
        re.entities.each do |entity|
          post(
            mediawiki: @mediawiki,
            body: entity.mongodoc()
          )
          $logger.info("#{entity.hasEntityURL} fed...")
          # @esc.process_pending_annotation_objects(final: false)
        end
      end
      # @esc.process_pending_annotation_objects(final: true)
    end

  end
end

# Run by "ruby feed_cookbook_entities.rb"
$development_tika_url = "http://localhost:9998"
mwpsf = Dataspects::CookbookFALnetFeeder.new(
  dataspects_api_url: "http://localhost:3000/api/mediawikis",
  dataspects_api_key: "aslkdjasldkjlaskdj"
).execute
