require 'dataspects'
require 'awesome_print'

module Dataspects

  class DataspectsSystemInstanceSourceFolder < Indexer

    def initialize(dataspects_api_url:, dataspects_api_key:, es_url:, tika_url:)
      super
      index = 'dataspectspublic'
    end

    def execute()
      response = RestClient.get(
        'http://localhost:3000/api/files',
        headers = {
          "dataspects-api-key": "aslkdjasldkjlaskdj",
          content_type: :json,
          accept: :json
        }
      )
      files = JSON.parse(response)
      files.each do |file|
        ngdoc = Nokogiri::HTML(JSON.parse(file['content'])[0]['X-TIKA:content'])
        content_type = ngdoc.xpath('/html/head/meta[@name="Content-Type"]/@content')
        content = ngdoc.xpath('/html/body/p').text
        absolute_file_path = file['absoluteFilePath']

        esdoc = {
          # Resource silo level
          OriginatedFromResourceSiloID: "dev",
          OriginatedFromResourceSiloLabel: "dev",
          OriginatedFromResourceSiloType: "dev",
          # Resource level
          OriginatedFromResourceName: absolute_file_path,
          OriginatedFromResourceURL: absolute_file_path,
          OriginatedFromResourceType: content_type,
          # Entity/subject level
          HasEntityClass: "Entity",
          HasEntityName: absolute_file_path,
          HasEntityType: "ConfigFile",
          HasEntityURL: absolute_file_path,
          HasEntityTitle: absolute_file_path,
          HasEntityBlurbTEXT: "dev",
          HasEntityBlurbHTML: "dev",
          HasEntityContentTEXT: content,
          HasEntityContentHTML: content,
          HasEntityTypeAndEntityTitle: absolute_file_path,
          HasEntityKeywords: [],
          HasEntityAnnotations: [

          ]
        }

        @esc.index(
          body: esdoc,
          index: "dataspectspublic"
        )
        $logger.info("#{absolute_file_path} indexed...")
      end
    end

  end

end

$development_tika_url = "http://localhost:9998"
mwsi = Dataspects::DataspectsSystemInstanceSourceFolder.new(
  dataspects_api_url: "http://localhost:3000/api/files",
  dataspects_api_key: "aslkdjasldkjlaskdj",
  tika_url: $development_tika_url,
  es_url: "http://localhost:9200"
).execute
