require 'dataspects'

# `git clone https://github.com/dataspects/dataspectsSupportOntology.git`

localmw = Dataspects::MediaWiki.new(
  url: "http://{{ mediawikiDomainNameInHostFile }}/w",
  user: "admin",
  password: "{{ mediawiki_admin_user_password }}",
  log_in: :must_log_in
)

coreont = Dataspects::OntologyRepository.new("/media/lex/LEXSAMSUNG-64GB/dataspectsSupportOntology")
coreont.use_existing_at_URL
coreont.resources.each do |resource|
  localmw.store_RESOURCE(resource, "Injection job dataspectsSupportOntology")
end

# Refresh {{ mediawikiDomainNameInHostFile }}
`docker exec --user www-data {{ mediawikiDomainNameInHostFile }}_mediawikiservice_1 bash -c "php w/maintenance/runJobs.php && php w/maintenance/refreshLinks.php && php w/extensions/SemanticMediaWiki/maintenance/rebuildData.php"`
