#!/bin/sh

# https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html#local

######
# CONFIGURATION
RESTIC_BACKUP_REPOSITORY_ON_HOST=lex@10.0.2.2:/home/lex/restic-backup-repository
RESTIC_RESTORE_REPOSITORY_ON_HOST=lex@10.0.2.2:/home/lex/restic-restore-folder
SNAPSHOT_ID=e053594c
HOST_SSH_PORT=22

######
# STEP 1: Mount restic-backup-repository/ on host
printf "dserver backup: Trying to mount (sshfs) restic-backup-repository on host...\n"
sudo sshfs -o nonempty -o allow_other -p $HOST_SSH_PORT $RESTIC_BACKUP_REPOSITORY_ON_HOST /home/dserver/restic-backup-repository
printf "dserver backup: restic-backup-repository mounted (sshfs).\n"

######
# STEP 2: Mount restic-restore-folder/ on host
printf "dserver backup: Trying to mount (sshfs) restic-restore-folder on host...\n"
sudo sshfs -o nonempty -o allow_other -p $HOST_SSH_PORT $RESTIC_RESTORE_REPOSITORY_ON_HOST /home/dserver/restic-restore-folder
printf "dserver backup: restic-restore-folder mounted (sshfs).\n"

######
# STEP 3: Restore backup
printf "dserver backup: Trying to restore $SNAPSHOT_ID...\n"
restic -r /home/dserver/restic-backup-repository restore $SNAPSHOT_ID --target /home/dserver/restic-restore-folder
printf "dserver backup: Restored $SNAPSHOT_ID.\n"

######
# STEP 4: Restore database
# printf "dserver backup: Trying to empty new mediawiki database...\n"
sudo docker exec mediawiki bash -c \
  "mysqladmin -h 127.0.0.1 -u mediawiki -pmediawikipass -f \
  drop mediawiki"
sudo docker exec mediawiki bash -c \
  "mysqladmin -h 127.0.0.1 -u mediawiki -pmediawikipass \
  create mediawiki"
printf "dserver backup: new mediawiki emptied.\n"
printf "dserver backup: Trying to copy db.sql dump into mediawiki_root/w...\n"
sudo cp /home/dserver/restic-restore-folder/mediawiki_root/w/db.sql /home/dserver/mediawiki_root/w/
printf "dserver backup: db.sql dump copied into mediawiki_root/w.\n"
printf "dserver backup: Trying to restore db.sql...\n"
sudo docker exec mediawiki bash -c \
  "mysql -h 127.0.0.1 -u mediawiki -pmediawikipass \
  mediawiki < /var/www/html/w/db.sql"
printf "dserver backup: db.sql restored.\n"

######
# STEP 5: Restore LocalSettings, images
printf "dserver backup: Trying to make a security copy of the new LocalSettings.php...\n"
sudo mv /home/dserver/mediawiki_root/w/LocalSettings.php /home/dserver/mediawiki_root/w/LocalSettings.php_FROM_FRESH_INSTALLATION
printf "dserver backup: Security copy of the new LocalSettings.php completed.\n"

printf "dserver backup: Trying to copy backed up LocalSettings.php into mediawiki_root/w...\n"
sudo cp /home/dserver/restic-restore-folder/mediawiki_root/w/LocalSettings.php /home/dserver/mediawiki_root/w/LocalSettings.php
printf "dserver backup: Backed up LocalSettings.php copied into mediawiki_root/w.\n"

printf "dserver backup: Trying to copy backed up images/ into mediawiki_root/w...\n"
sudo cp -r /home/dserver/restic-restore-folder/mediawiki_root/w/images /home/dserver/mediawiki_root/w/
printf "dserver backup: Backed up images copied into mediawiki_root/w.\n"

######
# STEP 6: Run maintenance scripts
printf "dserver backup: Trying to run maintenance scripts...\n"
sudo docker exec mediawiki bash -c \
  "cd /var/www/html/w && php maintenance/update.php && php maintenance/runJobs.php && php extensions/SemanticMediaWiki/maintenance/rebuildData.php"
printf "dserver backup: Running maintenance scripts completed.\n"