---
dataspectsESCluster: {{ dataspects_net_ipam_subnet }}.7:9200
sIndexName: smwckindex-0
# [[NextLineImplementsIntention::Load a plugin to customize methods]]
sPluginName: 'dataspects/DataspectsDataspectsSearch'
