{
  "FilenameRegex": ".json",
  "RootFolder": "{{ dataspectsSystem_control_folder_on_host }}",
  "DataspectsIndexingWebserviceURL": "http://localhost:{{ dataspectsFeederServicePort }}",
  "TikaURL": "http://localhost:{{ tikaPortOnHost }}",
  "TikaUsername": "dummy",
  "TikaPassword": "dummy",
  "APIMasterKey": "aslkdjasldkjlaskdj",
  "IndexerClassName": "Dataspects::DataspectsSystemSourceFolderFeeder",
  "Annotation": "[[IsUsedBy::C190110142823]]"
}
