{
  "FilenameRegex": ".json",
  "RootFolder": "{{ dataspectsSystem_control_folder_on_host }}",
  "DataspectsIndexingWebserviceURL": "http://localhost:{{ dataspectsIndexingServicePort }}",
  "TikaURL": "http://localhost:{{ tikaPortOnHost }}",
  "TikaUsername": "dummy",
  "TikaPassword": "dummy",
  "APIMasterKey": "0368111b-c840-4f2f-8bb9-5fa2308e86d2",
  "IndexerClassName": "Dataspects::FindAndLearnDocumentsIndexer",
  "Annotation": "[[IsUsedBy::C190110142823]]"
}
