docker run \
  --name dataspects_sidekiq \
  --network dataspectsstandardsystem_default \
  --ip 172.21.0.96 \
  --env REDIS_URL=redis://redis:6379/12 \
  --rm \
  -it \
  --volume $(pwd)/dataspects_lib:/usr/src/dataspects_lib \
  --volume $(pwd)/dataspects_api:/usr/src/dataspects_api \
  --workdir /usr/src/dataspects_api \
    dataspects/dataspects:{{ dataspects_version }} \
      sidekiq -e development

#FIXME: REDIS_URL cannot include Docker service name
#       but needs Docker container IP? (Not the case for rails?!)
