docker run \
  --name dataspects_rails \
  --network dataspectsstandardsystem_default \
  --ip 172.21.0.97 \
  --publish 3000:3000 \
  --env SIDEKIQ_UI_USERNAME=none \
  --env SIDEKIQ_UI_PASSWORD=none \
  --env API_KEY=none \
  --env REDIS_URL=redis://redis:6379/12 \
  --volume $(pwd)/dataspects_lib:/usr/src/dataspects_lib \
  --volume $(pwd)/dataspects_api:/usr/src/dataspects_api \
  --workdir /usr/src/dataspects_api \
  --rm \
  -it \
    dataspects/dataspects:{{ dataspects_version }} \
      rails server -e development
