version: "3.7"
services:
  mediawiki:
    container_name: mediawiki
    image: dataspects/php-apache:7.4.16_211011
    ports:
      - 8080:8080
    volumes:
      - ./system_root:/var/www/html/
  mariadb:
    container_name: mariadb
    image: mariadb:10.5.5
    volumes:
      - ./mysql_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=mysqlpassword