version: "3"
services:
  db:
    image: mariadb:10.3.10
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - mariadb_data:/var/lib/mysql
  {{ mediawikiDockerServiceName }}:
    image: dataspects/docker-apache-php-dataspects-mediawiki:1.0
    volumes:
      - mediawiki_root:/var/www/html/w
      - mediawiki_conf:/etc/apache2/sites-available
  proxy:
    image: dataspects/docker-nginx:1.0
    ports:
      - {{ nginxPortOnHost }}:80
    volumes:
      - nginx_conf:/etc/nginx/conf.d
  parsoid:
    image: dataspects/docker-parsoid:1.0
    environment: #AAA
      PARSOID_DOMAIN_{{ mediawikiDomainNameInHostFile }}: http://{{ mediawikiDockerServiceName }}/w/api.php
  elasticsearch:
    image: dataspects/docker-elasticsearch:1.0
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - esdata:/usr/share/elasticsearch/data
  redis:
    image: redis:4.0.11-alpine
  tomcat:
    image: dataspects/docker-tomcat:1.0
    volumes:
      - tomcat_root:/usr/local/tomcat/webapps
  tika:
    # https://wiki.apache.org/tika/TikaJAXRS#Using_prebuilt_Docker_image
    image: logicalspark/docker-tikaserver
volumes:
  mariadb_data:
    driver: local
  mediawiki_root:
    driver: local
  mediawiki_conf:
    driver: local
  nginx_conf:
    driver: local
  tomcat_root:
    driver: local
  esdata:
    driver: local
