version: "3"
services:
  db:
    image: mariadb:{{ mariadbVersion }}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - mariadb_data:/var/lib/mysql/
      - mediawiki_root:/datadump/mediawiki_root/
  {{ mediawikiDockerServiceName }}:
    image: dataspects/docker-apache-php-dataspects-mediawiki:{{ dockerApachePhpDataspectsMediawikiVersion }}
    volumes:
      - mediawiki_root:/var/www/html/
      - mediawiki_conf:/etc/apache2/sites-available
  proxy:
    image: dataspects/docker-nginx:{{ dockerNginxVersion }}
    ports:
      - {{ nginxPortOnHost }}:80
      - {{ nginxHttpsPortOnHost }}:443
    volumes:
      - nginx_conf:/etc/nginx/conf.d
  parsoid:
    image: dataspects/docker-parsoid:{{ dockerParsoidVersion }}
    environment:
      PARSOID_DOMAIN_{{ mediawikiDomainNameInHostFile }}: http://{{ mediawikiDockerServiceName }}/w/api.php
  elasticsearch:
    image: dataspects/docker-elasticsearch:{{ dockerElasticsearchVersion }}
    environment:
      - "ES_JAVA_OPTS=-Xms2048m -Xmx2048m"
      - "discovery.type=single-node"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - {{ elasticsearchPortOnHost }}:9200
  kibana:
    image: kibana:{{ kibanaVersion }}
    environment:
      - "ELASTICSEARCH_URL=http://elasticsearch:9200"
    ports:
      - {{ kibanaPortOnHost }}:5601
  tika:
    image: logicalspark/docker-tikaserver:{{ dockerTikaserverVersion }}
    ports:
      - {{ tikaPortOnHost }}:9998
  mongodb:
    image: mongo:4.0.6
  redis:
    image: redis:5.0.3-alpine
  ui:
    image: dataspects/ui:latest
    restart: always
    depends_on:
      - mongodb
      - redis
    ports:
      - {{ dataspectsUIPort }}:3000
    volumes:
      - ui_public:/app/public
      - ui_views:/app/views
    environment:
      - "PORT=3000"
      - "REDIS_HOST=redis"
      - "REDIS_PORT=6379"
      - "SESSION_SECRET={{ ui_session_secret }}"
      - "MONGODB_URI=mongodb://mongodb:27017/dataspects"
      - "ES_URL=http://es:9200"
      - "AWS_ACCESS_KEY_ID={{ aws_access_key_id }}"
      - "AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}"
      - "AWS_SES_API_VERSION=2010-12-01"
      - "AWS_SES_REGION=eu-west-1"
      - "FROM_EMAIL=support@dataspects.com"
      - "FROM_NAME=datasepects"
      - "SITE_URL=http://localhost:3000"
      - "OTP_DOMAIN=ui.dataspects.com"
volumes:
  # indexing-service:
  #   image: 550143289598.dkr.ecr.eu-central-1.amazonaws.com/dataspects-indexing-webservice:{{ dockerDataspectsIndexingServiceVersion }}
  #   environment:
  #     ELASTICSEARCH_CLUSTER_URL: http://elasticsearch:9200
  #     API_KEY: none
  #   volumes:
  #     - custom_indexer_classes:/lib/custom_indexer_classes
volumes:
  mariadb_data:
    driver: local
  mediawiki_root:
    driver: local
  mediawiki_conf:
    driver: local
  nginx_conf:
    driver: local
  esdata:
    driver: local
  ui_public:
    driver: local
  ui_views:
    driver: local
  # custom_indexer_classes:
  #   driver: local
  # custom_search_classes:
  #   driver: local
