version: "3"
services:
  {{ mediawikiDockerServiceName }}_clone:
    image: dataspects/docker-apache-php-dataspects-mediawiki:{{ dockerApachePhpDataspectsMediawikiVersion }}
    volumes:
      - mediawiki_root:/var/www/html/
      - mediawiki_conf:/etc/apache2/sites-available
volumes:
  mediawiki_root:
    driver: local
  mediawiki_conf:
    driver: local
networks:
  default:
    external:
      name: {{ mediawikiDomainNameInHostFile }}_default
