version: "3"
services:
  db:
    image: mariadb:{{ mariadbVersion }}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - mariadb_data:/var/lib/mysql/
      - mediawiki_root:/datadump/mediawiki_root/
  {{ mediawikiDockerServiceName }}:
    image: dataspects/docker-apache-php-dataspects-mediawiki:{{ dockerApachePhpDataspectsMediawikiVersion }}
    volumes:
      - mediawiki_root:/var/www/html/
      - mediawiki_conf:/etc/apache2/sites-available
  proxy:
    image: dataspects/docker-nginx:{{ dockerNginxVersion }}
    ports:
      - {{ nginxPortOnHost }}:80
      - {{ nginxHttpsPortOnHost }}:443
    volumes:
      - nginx_conf:/etc/nginx/conf.d
  parsoid:
    image: dataspects/docker-parsoid:{{ dockerParsoidVersion }}
    environment:
      PARSOID_DOMAIN_{{ mediawikiDomainNameInHostFile }}: http://{{ mediawikiDockerServiceName }}/w/api.php
  elasticsearch:
    image: dataspects/docker-elasticsearch:{{ dockerElasticsearchVersion }}
    environment:
      - "ES_JAVA_OPTS=-Xms2048m -Xmx2048m"
      - "discovery.type=single-node"
    volumes:
      - esdata:/usr/share/elasticsearch/data
  kibana:
    image: kibana:{{ kibanaVersion }}
    environment:
      - "ELASTICSEARCH_URL=http://elasticsearch:9200"
  tika:
    image: logicalspark/docker-tikaserver:{{ dockerTikaserverVersion }}
  # ui:
  #   image: dataspects/dataspects-ui:{{ dockerDataspectsUIVersion }}
  #   volumes:
  #     - templates:/go/src/app/templates
  # search-service:
  #   image: 550143289598.dkr.ecr.eu-central-1.amazonaws.com/dataspects-search-webservice:{{ dockerDataspectsSearchServiceVersion }}
  #   environment:
  #     ELASTICSEARCH_CLUSTER_URL: http://elasticsearch:9200
  #   volumes:
  #     - custom_search_classes:/lib/custom_search_classes
  # indexing-service:
  #   image: 550143289598.dkr.ecr.eu-central-1.amazonaws.com/dataspects-indexing-webservice:{{ dockerDataspectsIndexingServiceVersion }}
  #   environment:
  #     ELASTICSEARCH_CLUSTER_URL: http://elasticsearch:9200
  #     API_KEY: none
  #   volumes:
  #     - custom_indexer_classes:/lib/custom_indexer_classes
volumes:
  mariadb_data:
    driver: local
  mediawiki_root:
    driver: local
  mediawiki_conf:
    driver: local
  nginx_conf:
    driver: local
  esdata:
    driver: local
  # templates:
  #   driver: local
  # custom_indexer_classes:
  #   driver: local
  # custom_search_classes:
  #   driver: local
