version: "3"
services:
  db:
    image: mariadb:10.3.10
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - mariadb_data:/var/lib/mysql
  web:
    image: dataspects/docker-apache-php-dataspects-mediawiki:1.0
    volumes:
      - mediawiki_root:/var/www/html/w
  proxy:
    image: dataspects/docker-nginx:1.0
    ports:
      - "80"80
    volumes:
      - nginx_conf:/etc/nginx/conf.d
      - letsencrypt_conf:/etc/letsencrypt
      - letsencrypt_var:/var/lib/letsencrypt
      - dh-param/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem
  parsoid:
    image: dataspects/docker-parsoid:1.0
    ports:
      - "8000:8000"
    environment:
      PARSOID_DOMAIN_localhost: http://web/w/api.php
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.4.2
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
  redis:
    image: redis:4.0.11-alpine
    ports:
      - 6379:6379
  tomcat:
    image: dataspects/docker-tomcat:1.0
    ports:
      - 8080:8080
    volumes:
      - tomcat_root:/usr/local/tomcat/webapps
  tika:
    # https://wiki.apache.org/tika/TikaJAXRS#Using_prebuilt_Docker_image
    image: logicalspark/docker-tikaserver
    ports:
      - 9998:9998
volumes:
  mariadb_data:
    driver: local
  mediawiki_root:
    driver: local
  nginx_conf:
    driver: local
  letsencrypt_conf: /etc/letsencrypt
    driver: local
  letsencrypt_var: /var/lib/letsencrypt
    driver: local
  dh-param/dhparam-2048.pem: /etc/ssl/certs/dhparam-2048.pem
    driver: local
  tomcat_root:
    driver: local
  esdata:
    driver: local
