dataspects MediaWiki
====================

1. BACKUP
---------


2. RESTORE
----------


3. INJECT
---------

Example: Inject https://github.com/dataspects/dataspectsSystemCoreOntology

    dataspecter mw-inject \
        --mw-url http://dserver:8080/w/api.php \
        --ds-ontology /home/lex/dataspectsSystemCoreOntology/objects/