php maintenance/install.php \
  --dbname=wikidb \
  --dbserver={% if docker_network_mode == 'host'%}127.0.0.1{% else %}db{% endif %} \
  --installdbuser=root \
  --installdbpass="{{ mysql_root_password }}" \
  --dbuser=mediawiki \
  --dbpass=mediawikipass \
  --server="http://localhost" \
  --scriptpath=/w \
  --lang=en \
  --pass=adminpass \
"{{ mediawiki_name }}" "Admin"
