php maintenance/install.php \
  --dbname=mediawiki \
  --dbserver=127.0.0.1 \
  --installdbuser=root \
  --installdbpass="mysqlpassword" \
  --dbuser=mediawiki \
  --dbpass=mediawikipass \
  --server="http://localhost" \
  --scriptpath=/w \
  --lang=en \
  --pass={{ mediawiki_admin_user_password }} \
"{{ mediawiki_name }}" "Admin"
