---
mediawiki_extensions:
  - repo: https://gerrit.wikimedia.org/r/p/mediawiki/extensions/PageForms.git
    name: PageForms
    localsettings_configs:
      - wfLoadExtension( 'PageForms' );
      - $wgPageFormsLinkAllRedLinksToForms = true;
  - repo: https://github.com/wikimedia/mediawiki-extensions-DisplayTitle.git
    name: DisplayTitle
    localsettings_configs:
      - wfLoadExtension( 'DisplayTitle' );
      - $wgRestrictDisplayTitle = false;
  - repo: https://github.com/wikimedia/mediawiki-extensions-HeaderTabs.git
    name: HeaderTabs
    localsettings_configs:
      - wfLoadExtension( 'HeaderTabs' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-Variables.git
    name: Variables
    localsettings_configs:
      - wfLoadExtension( 'Variables' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-Scribunto.git
    name: Scribunto
    localsettings_configs:
      - wfLoadExtension( 'Scribunto' );
      - $wgScribuntoDefaultEngine = 'luastandalone';
  - repo: https://github.com/dataspects/DataspectsMediaWikiFeeder.git
    name: DataspectsMediaWikiFeeder
    localsettings_configs:
      - wfLoadExtension( 'DataspectsMediaWikiFeeder' );
      - $wgRateLimits['edit']['ip'] = array( 1000, 1 );
      - $wgDataspectsMediaWikiID = "";
      - $wgDataspectsApiKey = "";
      - $wgDataspectsApiURL = "http://localhost:3001/mediawikis/";
  - repo: https://github.com/wikimedia/mediawiki-extensions-Arrays.git
    name: Arrays
    localsettings_configs:
      - wfLoadExtension( 'Arrays' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-MyVariables.git
    name: MyVariables
    localsettings_configs:
      - require_once "$IP/extensions/MyVariables/MyVariables.php";
  # - repo: https://github.com/wikimedia/mediawiki-extensions-VEForAll.git
  #   name: VEForAll
  #   localsettings_configs:
  #     - wfLoadExtension( 'VEForAll' );
  # - repo: https://github.com/wikimedia/mediawiki-extensions-LabeledSectionTransclusion.git
  #   name: LabeledSectionTransclusion
  #   localsettings_configs:
  #     - wfLoadExtension( 'LabeledSectionTransclusion' );
  - repo: https://gerrit.wikimedia.org/r/p/mediawiki/extensions/VisualEditor.git
    name: VisualEditor
    in_extension_folder_commands:
      - git checkout {{ mediawiki_version }}
      - git submodule update --init
    localsettings_configs:
      - wfLoadExtension( 'VisualEditor' );
      - $wgDefaultUserOptions['visualeditor-enable'] = 1;
      - $wgHiddenPrefs[] = 'visualeditor-enable';
      - $wgVirtualRestConfig['modules']['parsoid'] = array('url' => 'http://localhost:8000', 'domain' => 'localhost');
      - $wgVirtualRestConfig['modules']['parsoid']['forwardCookies'] = true;
  - repo: https://github.com/enterprisemediawiki/WatchAnalytics.git
    name: WatchAnalytics
    localsettings_configs:
      - wfLoadExtension( 'WatchAnalytics' );
    docker_commands:
      - cd /var/www/html/w && php maintenance/update.php --skip-external-dependencies