---
mediawiki_extensions:
  - repo: https://github.com/dataspects/DataspectsMediaWikiFeeder.git
    name: DataspectsMediaWikiFeeder
    localsettings_configs:
      - wfLoadExtension( 'DataspectsMediaWikiFeeder' );
      - $wgRateLimits['edit']['ip'] = array( 1000, 1 );
      - $wgMediaWikiMongoID = "{{ wgMediaWikiMongoID }}";
      - $wgDataspectsApiKey = "{{ wgDataspectsApiKey }}";
      - $wgDataspectsApiURL = "{{ wgDataspectsApiURL }}";
  - repo: https://gerrit.wikimedia.org/r/p/mediawiki/extensions/PageForms.git
    name: PageForms
    localsettings_configs:
      - wfLoadExtension( 'PageForms' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-DisplayTitle.git
    name: DisplayTitle
    localsettings_configs:
      - wfLoadExtension( 'DisplayTitle' );
      - $wgRestrictDisplayTitle = false;
  - name: ParserFunctions
    localsettings_configs:
      - wfLoadExtension( 'ParserFunctions' );
      - $wgPFEnableStringFunctions = true;
  - repo: https://github.com/wikimedia/mediawiki-extensions-HeaderTabs.git
    name: HeaderTabs
    localsettings_configs:
      - wfLoadExtension( 'HeaderTabs' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-Variables.git
    name: Variables
    localsettings_configs:
      - wfLoadExtension( 'Variables' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-Scribunto.git
    name: Scribunto
    localsettings_configs:
      - wfLoadExtension( 'Scribunto' );
      - $wgScribuntoDefaultEngine = 'luastandalone';
  - repo: https://github.com/dataspects/MWExtension-DataspectsSearch.git
    name: DataspectsSearch
    localsettings_configs:
      - wfLoadExtension( 'DataspectsSearch' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-Arrays.git
    name: Arrays
    localsettings_configs:
      - wfLoadExtension( 'Arrays' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-MyVariables.git
    name: MyVariables
    localsettings_configs:
      - require_once "$IP/extensions/MyVariables/MyVariables.php";
  - name: CategoryTree
    localsettings_configs:
      - wfLoadExtension( 'CategoryTree' );
  - name: ReplaceText
    localsettings_configs:
      - wfLoadExtension( 'ReplaceText' );
  - name: SyntaxHighlight_GeSHi
    localsettings_configs:
      - wfLoadExtension( 'SyntaxHighlight_GeSHi' );
    # chmod a+x /path/to/extensions/SyntaxHighlight_GeSHi/pygments/pygmentize
  - repo: https://github.com/wikimedia/mediawiki-extensions-VEForAll.git
    name: VEForAll
    localsettings_configs:
      - wfLoadExtension( 'VEForAll' );
  - repo: https://github.com/wikimedia/mediawiki-extensions-LabeledSectionTransclusion.git
    name: LabeledSectionTransclusion
    localsettings_configs:
      - wfLoadExtension( 'LabeledSectionTransclusion' );
  - repo: https://gerrit.wikimedia.org/r/p/mediawiki/extensions/VisualEditor.git
    name: VisualEditor
    in_extension_folder_commands:
      - git checkout REL1_31
      - git submodule update --init
    localsettings_configs:
      - wfLoadExtension( 'VisualEditor' );
      - $wgDefaultUserOptions['visualeditor-enable'] = 1;
      - $wgHiddenPrefs[] = 'visualeditor-enable';
      - $wgVirtualRestConfig['modules']['parsoid'] = array('url' => 'http://parsoid:8000', 'domain' => '{{ mediawikiDomainNameInHostFile }}');
      - $wgVirtualRestConfig['modules']['parsoid']['forwardCookies'] = true;
  - docker_commands:
      - cd /var/www/html/w; php composer.phar require mediawiki/semantic-media-wiki '~3.0' --update-no-dev
      - cd /var/www/html/w && php maintenance/update.php --skip-external-dependencies
    localsettings_configs:
      - enableSemantics( 'localhost' );
      - $smwgLinksInValues = true;
  - docker_commands:
      - cd /var/www/html/w; php composer.phar require mediawiki/semantic-result-formats '3.0.*' --update-no-dev
      - cd /var/www/html/w && php maintenance/update.php --skip-external-dependencies
    localsettings_configs:
      - wfLoadExtension( 'SemanticResultFormats' );
  # - repo: https://github.com/wikimedia/mediawiki-extensions-TemplateData.git
  #   name: TemplateData
  #   localsettings_configs:
  #     - wfLoadExtension( 'TemplateData' );
  - docker_commands:
      - cd /var/www/html/w; php composer.phar require jeroen/mediawiki-github "~1.4"
    localsettings_configs:
      - $egGitHubUrl = 'https://raw.githubusercontent.com';
