---
dataspectsSystemESCluster:
  elasticsearch_cluster_url: "http://{{ dataspects_net_ipam_subnet }}.7:9200"
dataspectsStandardSystemSemanticmediawiki:
  mw_http_script_path_url: "http://{{ dataspects_net_ipam_subnet }}.6/w"
  mw_user_name: Admin
  mw_user_password: mwadminpassword
dataspectsSystemTIKAServer:
  tika_server_url: 'http://{{ dataspects_net_ipam_subnet }}.8:9998'
