# [[ImplementsFeature::C1898799575]]
version: "3.5"
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ dockerElasticsearchVersion }}
    environment:
      - "ES_JAVA_OPTS=-Xms1024m -Xmx2048m"
      - "discovery.type=single-node"
    volumes:
      - {{ manual_docker_volumes_location }}esdata:/usr/share/elasticsearch/data
    ports:
      - {{ elasticsearchPortOnHost }}:9200
    networks:
      - dataspects
  kibana:
    image: docker.elastic.co/kibana/kibana:{{ kibanaVersion }}
    environment:
      - "ELASTICSEARCH_HOSTS=http://elasticsearch:9200"
    depends_on:
      - elasticsearch
    ports:
      - {{ kibanaPortOnHost }}:5601
    networks:
      - dataspects
  tika:
    image: logicalspark/docker-tikaserver:{{ dockerTikaserverVersion }}
    ports:
      - {{ tikaPortOnHost }}:9998
    networks:
      - dataspects
  mongodb:
    image: mongo:{{ mongoVersion }}
    ports:
      - {{ mongodbPortOnHost }}:27017
    volumes:
      - {{ manual_docker_volumes_location }}mongo_data:/data/db
    networks:
      - dataspects
  redis:
    image: redis:{{ redisVersion }}
    ports:
      - {{ redisPortOnHost }}:6379
    networks:
      - dataspects
  ui:
    image: dataspects/ui:{{ dockerDataspectsUIVersion }}
    ports:
      - {{ dataspectsUIPort }}:3000
    depends_on:
      - mongodb
      - redis
      - elasticsearch
    networks:
      - dataspects
    environment:
      - "NODE_ENV={{ dataspectsUINodeEnv }}"
      - "REDIS_HOST=redis"
      - "REDIS_PORT=6379"
      - "SESSION_SECRET={{ dataspectsUISessionSecret }}"
      - "MONGODB_URI=mongodb://mongodb:27017/dataspects"
      - "ES_URL=http://elasticsearch:9200"
      - "SMTP_SERVER={{ dataspectsUISMTPServer }}"
      - "SMTP_USERNAME={{ dataspectsUISMTPUsername }}"
      - "SMTP_PASSWORD={{ dataspectsUISMTPPassword }}"
      - "FROM_EMAIL={{ dataspectsUIFromEmail }}"
      - "FROM_NAME={{ dataspectsUIFromName }}"
      - "SITE_URL={{ dataspectsUISiteURL }}"
      - "OTP_DOMAIN={{ dataspectsUIOTPDomain }}"
      - "API_KEY={{ dataspectsUIAPIKey }}"
      - "TIKA_URL={{ dataspectsUITikaURL }}"
      - "ES_NODE=http://elasticsearch:9200"
  nats:
    image: nats:2.0.2-linux
    ports:
      - 4222:4222
      - 6222:6222
      - 8222:8222
networks:
  dataspects:
    name: dataspects
    driver: bridge
{{ comment_out_volumes }}volumes:
{{ comment_out_volumes }}  nginx_conf:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }}  mongo_data:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }}  esdata:
{{ comment_out_volumes }}    driver: local
