# [[ImplementsFeature::C1898799575]]
version: "3"
services:
  db:
    image: mariadb:{{ mariadbVersion }}
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - {{ manual_docker_volumes_location }}mariadb_data:/var/lib/mysql/
      - {{ manual_docker_volumes_location }}mediawiki_root:/datadump/mediawiki_root/
  {{ mediawikiDockerServiceName }}:
    image: dataspects/docker-apache-php-dataspects-mediawiki:{{ dockerApachePhpDataspectsMediawikiVersion }}
    volumes:
      - {{ manual_docker_volumes_location }}mediawiki_root:/var/www/html/
#      - {{ manual_docker_volumes_location }}mediawiki_conf:/etc/apache2/sites-available
    depends_on:
      - db
      - parsoid
  proxy:
    image: dataspects/docker-nginx:{{ dockerNginxVersion }}
    ports:
      - {{ nginxPortOnHost }}:80
      - {{ nginxHttpsPortOnHost }}:443
    depends_on:
      - {{ mediawikiDockerServiceName }}
    volumes:
      - {{ manual_docker_volumes_location }}nginx_conf:/etc/nginx/conf.d
  parsoid:
    image: dataspects/docker-parsoid:{{ dockerParsoidVersion }}
    environment:
      PARSOID_DOMAIN_{{ mediawikiDomainNameInHostFile }}: http://{{ mediawikiDockerServiceName }}/w/api.php
{{ comment_out_volumes }}volumes:
{{ comment_out_volumes }}  mariadb_data:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }}  mediawiki_root:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }} # mediawiki_conf:
{{ comment_out_volumes }} #   driver: local
{{ comment_out_volumes }}  nginx_conf:
{{ comment_out_volumes }}    driver: local
