# [[ImplementsFeature::C1898799575]]
version: "3.5"
services:
  db:
    image: mariadb:{{ mariadbVersion }}
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    volumes:
      - {{ manual_docker_volumes_location }}mariadb_data:/var/lib/mysql/
      - {{ manual_docker_volumes_location }}mediawiki_root:/datadump/mediawiki_root/
    network_mode: {{ docker_network_mode }}
  {{ mediawikiDockerServiceName }}:
    image: dataspects/docker-apache-php-dataspects-mediawiki:{{ dockerApachePhpDataspectsMediawikiVersion }}
    volumes:
      - {{ manual_docker_volumes_location }}mediawiki_root:/var/www/html/
#      - {{ manual_docker_volumes_location }}mediawiki_conf:/etc/apache2/sites-available
    depends_on:
      - db
      - parsoid
    network_mode: {{ docker_network_mode }}
  proxy:
    image: dataspects/docker-nginx:{{ dockerNginxVersion }}
    ports:
      - {{ nginxPortOnHost }}:80
      - {{ nginxHttpsPortOnHost }}:443
    depends_on:
      - {{ mediawikiDockerServiceName }}
    volumes:
      - {{ manual_docker_volumes_location }}nginx_conf:/etc/nginx/conf.d
    network_mode: {{ docker_network_mode }}
  parsoid:
    image: dataspects/docker-parsoid:{{ dockerParsoidVersion }}
    environment:
      PARSOID_DOMAIN_{{ mediawikiDomainNameInHostFile }}: http://{% if docker_network_mode == 'host'%}127.0.0.1{% else %}{{ mediawikiDockerServiceName }}{% endif %}/w/api.php
    network_mode: {{ docker_network_mode }}
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ dockerElasticsearchVersion }}
    environment:
      - "ES_JAVA_OPTS=-Xms1024m -Xmx2048m"
      - "discovery.type=single-node"
    volumes:
      - {{ manual_docker_volumes_location }}esdata:/usr/share/elasticsearch/data
    ports:
      - {{ elasticsearchPortOnHost }}:9200
    network_mode: {{ docker_network_mode }}
  kibana:
    image: docker.elastic.co/kibana/kibana:{{ kibanaVersion }}
    environment:
      - "ELASTICSEARCH_HOSTS=http://{% if docker_network_mode == 'host'%}127.0.0.1{% else %}elasticsearch{% endif %}:9200"
    depends_on:
      - elasticsearch
    ports:
      - {{ kibanaPortOnHost }}:5601
    network_mode: {{ docker_network_mode }}
  tika:
    image: logicalspark/docker-tikaserver:{{ dockerTikaserverVersion }}
    ports:
      - {{ tikaPortOnHost }}:9998
    network_mode: {{ docker_network_mode }}
  mongodb:
    image: mongo:{{ mongoVersion }}
    ports:
      - {{ mongodbPortOnHost }}:27017
    volumes:
      - {{ manual_docker_volumes_location }}mongo_data:/data/db
    network_mode: {{ docker_network_mode }}
  redis:
    image: redis:{{ redisVersion }}
    ports:
      - {{ redisPortOnHost }}:6379
    network_mode: {{ docker_network_mode }}
  ui:
    image: dataspects/ui:{{ dockerDataspectsUIVersion }}
    ports:
      - {{ dataspectsUIPort }}:3000
    depends_on:
      - mongodb
      - redis
      - elasticsearch
    network_mode: {{ docker_network_mode }}
    environment:
      - "NODE_ENV={{ dataspectsUINodeEnv }}"
      - "REDIS_HOST={% if docker_network_mode == 'host'%}127.0.0.1{% else %}redis{% endif %}"
      - "REDIS_PORT=6379"
      - "SESSION_SECRET={{ dataspectsUISessionSecret }}"
      - "MONGODB_URI=mongodb://{% if docker_network_mode == 'host'%}127.0.0.1{% else %}mongodb{% endif %}:27017/dataspects"
      - "SMTP_SERVER={{ dataspectsUISMTPServer }}"
      - "SMTP_USERNAME={{ dataspectsUISMTPUsername }}"
      - "SMTP_PASSWORD={{ dataspectsUISMTPPassword }}"
      - "FROM_EMAIL={{ dataspectsUIFromEmail }}"
      - "FROM_NAME={{ dataspectsUIFromName }}"
      - "SITE_URL={{ dataspectsUISiteURL }}"
      - "OTP_DOMAIN={{ dataspectsUIOTPDomain }}"
      - "API_KEY={{ dataspectsUIAPIKey }}"
      - "TIKA_URL={{ dataspectsUITikaURL }}"
      - "ES_NODE=http://{% if docker_network_mode == 'host'%}127.0.0.1{% else %}elasticsearch{% endif %}:9200"
  nats:
    image: nats:{{ natsVersion }}
    network_mode: {{ docker_network_mode }}
  mediawiki-datastore:
    image: dataspects/mediawiki-datastore:{{ mediawikiDatastoreVersion }}
    depends_on:
      - mongodb
      - nats
    ports:
      - 3001:3001
    environment:
      - "PORT=3001"
      - "NODE_ENV=production"
      - "NATS_URI=nats://nats:4222"
      - "MONGODB_URI=mongodb://mongo:27017/mediawikis"
      - "MASTER_API_KEY=abiifwef989834938jr4893n8"
      - "API_KEY=cd"
    network_mode: {{ docker_network_mode }}
  mediawiki-indexer:
    image: dataspects/mediawiki-indexer:{{ mediawikiIndexerVersion }}
    depends_on:
      - nats
      - elasticsearch
      - tika
    environment:
      - "NATS_URI=nats://nats:4222"
      - "ES_NODE=http://elastic:g6gWvTmsgGKRibtfgqKf@elasticsearch:9200"
      - "ES_INDEX=general"
      - "TIKA_URL=http://tika:9998"
    network_mode: {{ docker_network_mode }}
  repository-datastore:
    image: dataspects/repository-datastore:{{ repositoryDatastoreVersion }}
    depends_on:
      - mongodb
      - nats
    ports:
      - 3002:3002
    environment:
      - "PORT=3002"
      - "NODE_ENV=production"
      - "NATS_URI=nats://nats:4222"
      - "MONGODB_URI=mongodb://mongo:27017/repositories"
      - "MASTER_API_KEY=abiifwef989834938jr4893n8"
      - "API_KEY=cd"
    network_mode: {{ docker_network_mode }}
  repository-indexer:
    image: dataspects/repository-indexer:{{ repositoryIndexerVersion }}
    depends_on:
      - nats
      - elasticsearch
      - tika
    environment:
      - "NATS_URI=nats://nats:4222"
      - "ES_NODE=http://elastic:g6gWvTmsgGKRibtfgqKf@elasticsearch:9200"
      - "ES_INDEX=general"
      - "TIKA_URL=http://tika:9998"
    network_mode: {{ docker_network_mode }}
{{ comment_out_volumes }}volumes:
{{ comment_out_volumes }}  mariadb_data:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }}  mediawiki_root:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }} # mediawiki_conf:
{{ comment_out_volumes }} #   driver: local
{{ comment_out_volumes }}  nginx_conf:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }}  mongo_data:
{{ comment_out_volumes }}    driver: local
{{ comment_out_volumes }}  esdata:
{{ comment_out_volumes }}    driver: local
