require 'dataspects'

`git clone https://github.com/dataspects/dataspectsSystemCookbookOntology.git`

localmw = Dataspects::MediaWiki.new(
  url: "http://{{ mediawikiDomainNameInHostFile }}/w",
  user: "admin",
  password: "{{ mediawiki_admin_user_password }}",
  log_in: :must_log_in
)

cookbookont = Dataspects::OntologyRepository.new("dataspectsSystemCookbookOntology")
cookbookont.use_existing_at_URL
cookbookont.resources.each do |resource|
  localmw.store_RESOURCE(resource, "Injection job 190218")
end

# Refresh {{ mediawikiDomainNameInHostFile }}
`docker exec --user www-data {{ mediawikiDomainNameInHostFile }}_mediawikiservice_1 bash -c "php w/maintenance/runJobs.php && php w/maintenance/refreshLinks.php && php w/extensions/SemanticMediaWiki/maintenance/rebuildData.php"`
